@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

ol{
    list-style: decimal;
}
ul{
   list-style: disc;
}
b,strong{
    font-weight: bold;
}


.google-div{

    position: absolute;
    top: 0.5rem;
    right: 0.6rem;
}

.goog-te-combo{
    border-color: #9ca3af;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}