@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
b,
strong {
  font-weight: bold;
}

.google-div {
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
}

.goog-te-combo {
  border-color: #9ca3af;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 11rem !important;
}

body {
  position: static !important;
  top: 0px !important;
}
.skiptranslate {
  display: none;
}
.goog-gt-vt {
  display: none;
}
.goog-te-gadget > span {
  display: none;
}
.goog-te-gadget {
  display: block !important;
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  margin: 4px 0;
  font-weight: bold;
  font-family: DM Sans, sans-serif;
  font-style: italic;
  color: #161616;
  font-size: 0.9rem;
}

iframe {
  display: none;
}
iframe#webpack-dev-server-client-overlay {
  display: none;
}
/* 
.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none;
} */
/* iframe{
    display: none;
} */
