@tailwind base;

/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: rgb(102, 168, 219);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #95acfa;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 80px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 198);

  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;
